---
- name: Test AWS event queries with free-tier resources
  hosts: localhost
  gather_facts: false

  vars:
    my_aws_region: "{{ aws_region | default('us-east-1') }}"
    my_test_prefix: "{{ resource_prefix | default('aap-indirect-test') }}"
    my_cleanup: "{{ cleanup | default(true) | bool }}"

  tasks:
    - name: Validate AWS credentials
      amazon.aws.aws_caller_info:
      register: caller_info

    - name: Display account info
      ansible.builtin.debug:
        msg: "Running as: {{ caller_info.arn }} in account {{ caller_info.account }}"

    - name: Generate unique suffix
      ansible.builtin.set_fact:
        unique_suffix: "{{ 999999 | random | string }}"

    - name: Create test S3 bucket
      amazon.aws.s3_bucket:
        name: "{{ my_test_prefix }}-bucket-{{ unique_suffix }}"
        state: present
        region: "{{ my_aws_region }}"
      register: s3_bucket

    - name: Query S3 buckets
      amazon.aws.s3_bucket_info:
        region: "{{ my_aws_region }}"
      register: s3_info

    - name: Create test security group
      amazon.aws.ec2_security_group:
        name: "{{ my_test_prefix }}-sg-{{ unique_suffix }}"
        description: "Test security group for AAP indirect node testing"
        state: present
        region: "{{ my_aws_region }}"
      register: security_group

    - name: Query security groups
      amazon.aws.ec2_security_group_info:
        region: "{{ my_aws_region }}"
        filters:
          group-name: "{{ my_test_prefix }}-sg-{{ unique_suffix }}"
      register: sg_info

    - name: Query regions
      amazon.aws.aws_region_info:
        region: "{{ my_aws_region }}"
      register: region_info

    - name: Display test summary
      ansible.builtin.debug:
        msg: |
          =====================================================
          AWS TEST RESULTS
          =====================================================
          ACCOUNT: {{ caller_info.account }}
          REGION:  {{ my_aws_region }}
          
          CREATED:
            S3 Bucket:       {{ s3_bucket.name | default('N/A') }}
            Security Group:  {{ security_group.group_id | default('N/A') }}
          
          QUERIED:
            S3 Buckets:        {{ s3_info.buckets | length }}
            Security Groups:   {{ sg_info.security_groups | length }}
            Regions:           {{ region_info.regions | length }}
          =====================================================

    - name: Cleanup
      when: my_cleanup | bool
      block:
        - name: Delete security group
          amazon.aws.ec2_security_group:
            name: "{{ my_test_prefix }}-sg-{{ unique_suffix }}"
            state: absent
            region: "{{ my_aws_region }}"

        - name: Delete S3 bucket
          amazon.aws.s3_bucket:
            name: "{{ s3_bucket.name }}"
            state: absent
            force: true
            region: "{{ my_aws_region }}"
          when: s3_bucket.name is defined
